@model WebPicKnockout.Models.Pessoa

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/Scripts/knockout-3.5.0.js"></script>
    <script src="~/Scripts/PessoaKnockout.js"></script>
    <script>
        $(document).ready(function () {
            // Adicionando a máscara para o campo de CPF
            $('#cpf').mask('000.000.000-00', { reverse: true },);
            $('#rg').mask('00.000.000-0', { reverse: true },);
        });
    </script>
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Pessoa</title>
</head>
<body>
    <h2>Adicionar Pessoa</h2>
    <form data-bind="submit: salvar">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input id="nome" required="required" type="text" class="form-control" placeholder="Ex.: Pedro" data-bind="value: nome">
        </div>
        <div class="mb-3">
            <label for="sobrenome" class="form-label">Sobrenome</label>
            <input id="sobrenome" required="required" type="text" class="form-control" placeholder="Ex.: Martins" data-bind="value: sobrenome">
        </div>
        <div class="mb-3">
            <label for="data" class="form-label">Data de Nascimento</label>
            <input id="dataNasc" required="required" type="date" class="form-control" data-bind="value: dataNasc">
        </div>
        <div class="mb-3">
            <label for="estadoC" class="form-label">Estado Civil</label>
            <select id="estadoC" class="form-select" required="required" data-bind="value: estadoCivil">
                <option selected>Selecione</option>
                <option value="Solteiro">Solteiro(a)</option>
                <option value="Casado">Casado(a)</option>
                <option value="Divorciado">Divorciado(a)</option>
                <option value="Viuvo">Viúvo(a)</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input id="cpf" required="required" type="text" class="form-control" maxlength="14" placeholder="Ex.: 999.999.999-99" data-bind="value: cpf">
        </div>
        <div class="mb-3">
            <label for="rg" class="form-label">RG</label>
            <input id="rg" required="required" type="text" class="form-control" maxlength="12" placeholder="Ex.: 99.999.999-9" data-bind="value: rg">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-danger" data-bind="click: $root.cancelar">Voltar</button>
    </form>
</body>
</html>